.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(3, 3, 3, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    z-index: 100;
    color: white;
    text-align: center;
    font-size: 1.8rem;
    overflow: hidden;
  }
  
.modal img{
  height: 60vh;
  width: 50vw;
  border: 2px solid rgb(95, 94, 94);
  border-radius: 6px;

}
  
  
  @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  }